/* Asegura un diseño limpio y moderno */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa;
}

.container {
  max-width: 720px;
  margin: auto;
}

.accordion-button {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.accordion-button:hover {
  background-color: #0056b3;
}

.accordion-body {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-item {
  margin-bottom: 20px;
}

.accordion-button:after {
  content: '+';
}

.accordion-button.collapsed:after {
  content: '-';
}

.btn-info {
  background-color: #17a2b8;
  color: white;
  border-radius: 5px;
}

.btn-info:hover {
  background-color: #138496;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-body video {
  border-radius: 8px;
}

.modal-content {
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 

.card {
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
}

.form-check-label {
  font-size: 1.1rem;
}

button {
  padding: 10px 20px;
  border-radius: 30px;
  background: #3498db;
  border: none;
  font-size: 1.1rem;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

#result {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #eaf2f8;
  display: none;
}

.correct {
  background-color: #2ecc71;
  color: #ffffff;
}

.incorrect {
  background-color: #e74c3c;
  color: #ffffff;
}

#result p {
  margin: 0;
}