.format-cell {
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    font-size: 16px;
}

.selected {
    background-color: #d1a7e1; /* Morado claro */
    color: white;
}

.correct {
    background-color: #28a745;
    color: white;
}

.incorrect {
    background-color: #dc3545;
    color: white;
}

.btn-container {
    margin-top: 20px;
}

#result-container {
    margin-top: 30px;
}

#result-container.hidden {
    display: none;
}
