#timer {
    font-size: 24px;
    margin-bottom: 20px;
}
.table, .options {
    margin-top: 20px;
}
.option-container {
    margin-bottom: 15px;
}
.container {
    text-align: center;
}
.alert {
    margin-top: 20px;
}
.start-container {
    margin-top: 50px;
}